.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kalkulator{
    background: #333333;
    padding: 20px;
    border-radius: 10px;
}
.kalkulator input, button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px #00FF00, 5px 5px 15px #650000;
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    text-align: center;
}
.kalkulator input:hover{
    background-color: #ff7f00;
}

.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    color: white;
    box-shadow: none;
}

.equal{
    width: 155px;
}

.operator{
    color: #fcc200;
}

.history{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.history input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    color: #fcc200;
    box-shadow: none;
}
