.button{
    background-color: #333333;
    border-radius: 5px;
    color: #00FF00;
    padding: 16px;
    text-align: center;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 50px;
}

.p{
    color: #00FF00;
    font-size: 32px;
    margin-left: 250px;
    margin-top: -65px;
}
