<h1 class="h1">CARS LIST</h1>
<hr class="hr">

<div class="flex-row-center">
    <input #box1 class="input" type="text" placeholder="Enter name and surname" name="display" [(ngModel)]=" owner">
    <input #box2 class="input" type="text" placeholder="Enter name of a car" name="display" [(ngModel)]="modelName">
    <input #box3 class="input" type="text" placeholder="Enter year of production" name="display" [(ngModel)]="yearOfProduction">
    <input #box4 class="input" type="text" placeholder="Enter car model name" name="display" [(ngModel)]="mark">
    <input #box5 class="input" type="text" placeholder="Enter color of a car" name="display" [(ngModel)]="color">
    <button class="button" (click)="submit()">Submit</button>
</div>
<hr class="hr">
<div class="cars-container">
    <div *ngFor="let car of cars" class=" car flex-column-center">
        <span>{{car.owner}}</span>
        <span>{{car.modelName}}</span>
        <span>{{car.mark}}</span>
        <span>{{car.yearOfProduction}}</span>
        <span>{{car.color}}</span>
    </div>
</div>

<hr class="hr">

