$ucla-blue: #3e78b2ff;
$cobalt-blue: #004ba8ff;
$outer-space: #4a525aff;
$raisin-black: #24272bff;
$black: #07070aff;

$palette-1 : $ucla-blue;
$palette-2 : $cobalt-blue;
$palette-3 : $outer-space;
$palette-4 : $raisin-black;
$palette-5 : $black;