<p class="champId-box">{{champId}}</p>

<div *ngFor="let champsData of getchampsData()">
    <p class="Passive-box">Passive: </p>

    <img class="p1" [src]="'http://ddragon.leagueoflegends.com/cdn/13.16.1/img/passive/' + passiveName">
    <div class="p2">{{champsData?.passive?.name}}</div>
    <div class="p3">{{champsData?.passive?.description}}</div>

    <p class="Spells-box">Spells: </p>
</div>

<div 
    class="flex-column-center"
    *ngFor="let spellsDataObject of this.champsDetails?.data[champId]?.spells">
    <img class="s1" [src]="'http://ddragon.leagueoflegends.com/cdn/13.16.1/img/spell/'+ spellsDataObject.image.full">
    <div>{{'Name: ' + spellsDataObject.name}}</div>
    <div>{{'Description: ' + spellsDataObject.description}}</div>
    <div>{{'Cost type: ' + spellsDataObject.costType}}</div>
    <div>{{'Range burn: ' + spellsDataObject.rangeBurn}}</div>
</div>