<p class="champId-box">{{champId}}</p>

<div *ngFor="let champsData of getchampsData()">
    <p class="Passive-box">Passive: </p>

    <img class="p1" [src]="'http://ddragon.leagueoflegends.com/cdn/13.16.1/img/passive/' + passiveName">
    <div class="p2">{{champsData?.passive?.name}}</div>
    <div class="p3">{{champsData?.passive?.description}}</div>

    <p class="Spells-box">Spells: </p>
</div>

<div 
    class="flex-column-center"
    *ngFor="let spellsDataObject of this.champsDetails?.data[champId]?.spells">
    <img class="s1" [src]="'http://ddragon.leagueoflegends.com/cdn/13.16.1/img/spell/'+ spellsDataObject.image.full">
    <div class="s2">{{'Name: ' + spellsDataObject.name}}</div>
    <div class="s3">{{'Description: ' + spellsDataObject.description}}</div>
</div>

<div 
    class="flex-column-center"
    *ngFor="let skinsDataObject of this.champsDetails?.data[champId]?.skins">
    <div class="s2">{{'Name: ' + skinsDataObject.name}}</div>
    <img class="s1" [src]="'http://ddragon.leagueoflegends.com/cdn/img/champion/splash/'+ champId + '_' + skinsDataObject.num + '.jpg'">
</div>

<!-- http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ahri_0.jpg -->
