<p class="champId-box">{{champId}}</p>

<div *ngFor="let champsData of getchampsData()">
    <p class="Passive-box">Passive: </p>

    <img class="p1" [src]="'http://ddragon.leagueoflegends.com/cdn/13.16.1/img/passive/' + passiveName">
    <div class="p2">{{champsData?.passive?.name}}</div>
    <div class="p3">{{champsData?.passive?.description}}</div>

    <p class="Spells-box">Spells: </p>
</div>

<div class="s1" *ngFor="let spellsImg of this.champsDetails?.data[champId]?.spells">
    <!-- use this -->
    {{spellsImg.image.full}}

    <img class="s1" [src]="'http://ddragon.leagueoflegends.com/cdn/13.16.1/img/spell'">
</div>

<div class="s2" *ngFor="let spellsDescription of this.champsDetails?.data[champId]?.spells">
    {{spellsDescription.name}}
</div>

<div class="s3" *ngFor="let spellsDescription of this.champsDetails?.data[champId]?.spells">
    {{spellsDescription.description}}
</div>
